In [1]:
import pandas as pd

# Load the dataset
file_path = '../dataKasus-1.xlsx'
df = pd.read_excel(file_path)

df.head()

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,< 2 tahun,Tidak,Tidak,Tidak,Ya,Tidak,>UMR,Non PE,NaN
1,2,NAMA 2,29 TH,2,< 2 tahun,Tidak,PEB,Tidak,Tidak,Ada,>UMR,PE,NaN
2,3,NAMA 3,20 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
3,4,NAMA 4,18 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

In [2]:
# Melihat informasi dasar tentang dataset
df.info()

# Melihat statistik deskriptif untuk kolom numerik
df.describe()

# Melihat distribusi nilai unik dalam kolom kategorikal
df['PE/Non PE'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    object
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    object
 8   RIW DM                            561 non-null    object
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    object
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(2), object(11)
memory usage: 57.1+ KB

PE/Non PE
Non PE                    520
PEB                        20
PE                         17
Eklamsia                    1
PE gemelli                  1
PEB impending eklampsi      1
PE                          1
Name: count, dtype: int64

In [3]:
# Melihat jumlah missing values di setiap kolom
df.isnull().sum()

NO                                    0
NAMA                                  0
USIA                                  3
PARITAS                               0
JARAK KELAHIRAN                       7
RIW HIPERTENSI                        0
RIW PE                                0
OBESITAS                              0
RIW DM                                0
RIW HIPERTENSI/PE DALAM KELUARGA      0
SOSEK RENDAH                          0
PE/Non PE                             0
Unnamed: 12                         550
dtype: int64

In [4]:
# Menghapus 'TH' dari kolom 'USIA' dan mengonversinya menjadi angka
df['USIA'] = df['USIA'].str.replace(' TH', ' th', '').astype(float)

In [9]:
# Drop rows with missing values in 'USIA' column
df = df.dropna(subset=['USIA'])

# Convert 'USIA' column to string to apply string operations
df['USIA'] = df['USIA'].astype(str)

# Clean 'USIA' column by removing non-numeric characters
df['USIA'] = df['USIA'].str.replace(r'\D', '', regex=True)

# Convert 'USIA' back to float
df['USIA'] = df['USIA'].astype(float)

In [10]:
print(df['USIA'].unique())

[]

In [12]:
df['USIA'] = df['USIA'].fillna(df['USIA'].median())

In [13]:
print(df['USIA'].describe())

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: USIA, dtype: float64

In [14]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.histplot(df['USIA'], kde=True)
plt.show()

ModuleNotFoundError: No module named 'seaborn'